@import "tailwindcss";



:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-grid:var(--font-maven-pro);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #020202;
    --foreground: #ededed;
  }
  .dark{
    --background: #eeeeee;
    --foreground: #020202;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Maven-pro",Arial, Helvetica, sans-serif;
}
