@import "tailwindcss";



:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-grid:var(--font-maven-pro);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #020202;
    --foreground: #ffffff;
    --primary: #ffffff12;
  }
  .dark{
    --background: #ffffff;
    --foreground: #020202;
    --primary: #00000012;
  }
}
@layer base {
  html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Ubuntu','Arial',"sans-serif";
  font-weight: 300;
}

@utility gradient {
  background-size:10px 10px;
  @apply bg-[linear-gradient(45deg,transparent_49%,var(--primary)_49%,var(--primary)_51%,transparent_51%),linear-gradient(45deg,transparent_49%,var(--primary)_49%,var(--primary)_51%,transparent_51%)];
}
@utility btn{
  @apply sm:px-2 px-1 flex items-center gap-2 sm:py-0.5 border border-foreground/50 rounded-none transition hover:scale-105 hover:shadow-[2px_2px_#22222252];
}

@utility skillbtn{
  @apply px-2 py-0.5 border text-sm transition;
}
